<div id="accountScreen" class="container">
    <h2>Account MOD</h2>
    <table class="input-table">
        <tr class="input-row">
            <td class="label-cell">
                <label for="achievementDate" class="label">Achievements:</label>
            </td>
            <td class="input-cell">
                <input type="date" id="achvDate" value="2018-07-22" />
                <button id="unlockAllButton" class="unlock-button">Unlock ALL</button>
            </td>
        </tr>
    </table>
</div>