<div class="popup-container" id="popupContainer">
    <div class="row-container">
        <div class="logo-container" id="logoContainer">
            <div class="logo" id="logoButton">
                <img src="assets/images/logo-round-512px.png" alt="Logo">
            </div>
        </div>
        <div class="action-container">
            <button class="action-toggle" id="actionToggle">
                <span class="material-icons-outlined">chevron_right</span>
            </button>
            <div class="feature-buttons" id="featureButtons">
                <button class="icon-button" id="rollButton">
                    <span class="material-icons-outlined">casino</span>
                    <span class="tooltip">Roll</span>
                </button>
                <button class="icon-button" id="accountButton">
                    <span class="material-icons-outlined">manage_accounts</span>
                    <span class="tooltip">MOD</span>
                </button>
                <button class="icon-button" id="dataButton">
                    <span class="material-icons-outlined">save</span>
                    <span class="tooltip">Manage</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row-container">
        <div class="social-container">
            <button class="social-toggle" id="socialToggle">
                <span class="material-icons-outlined">keyboard_arrow_down</span>
            </button>
            <div class="social-links" id="socialLinks">
                <button class="social-button" id="videoButton">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" alt="YouTube">
                </button>
                <button class="social-button" id="codeButton">
                    <span class="material-icons-outlined">code</span>
                </button>
                <button class="social-button" id="twitchButton">
                    <img src="https://avatars.githubusercontent.com/u/1795021" alt="Twitch">
                </button>
            </div>
        </div>
        <div class="settings-container" id="settings-container">
            <!-- Placeholder for dynamic content -->
        </div>
    </div>
</div>