<div class="popup-container" id="popupContainer">
    <table class="popup-table">
        <tr>
            <td class="logo-cell" id="logoContainer">
                <div class="logo" id="logoButton">
                    <img src="https://raw.githubusercontent.com/PokeRogueMOD/JsPoRoMOD/main/js-poro-mod/assets/images/logo-round-512px.png" alt="Logo">
                </div>
            </td>
            <td class="action-toggle-cell">
                <button class="action-toggle" id="actionToggle">
                    <span class="material-icons-outlined">chevron_right</span>
                </button>
            </td>
            <td class="feature-buttons-cell" id="featureButtonsCell">
                <div class="feature-buttons" id="featureButtons">
                    <button class="icon-button" id="rollButton">
                        <span class="material-icons-outlined">casino</span>
                        <span class="tooltip">Roll</span>
                    </button>
                    <button class="icon-button" id="accountButton">
                        <span class="material-icons-outlined">manage_accounts</span>
                        <span class="tooltip">MOD</span>
                    </button>
                    <button class="icon-button" id="dataButton">
                        <span class="material-icons-outlined">save</span>
                        <span class="tooltip">Manage</span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="social-cell">
                <button class="social-toggle" id="socialToggle">
                    <span class="material-icons-outlined">keyboard_arrow_down</span>
                </button>
                <div class="social-links" id="socialLinks">
                    <button class="social-button" id="videoButton">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" alt="YouTube">
                    </button>
                    <button class="social-button" id="codeButton">
                        <span class="material-icons-outlined">code</span>
                    </button>
                    <button class="social-button" id="twitchButton">
                        <img src="https://avatars.githubusercontent.com/u/1795021" alt="Twitch">
                    </button>
                </div>
            </td>
            <td></td>
            <td class="settings-cell" id="settingsContainer">
                <!-- Placeholder for future settings window -->
                <div id="rollScreen" style="display: none;"></div>
                <div id="accountScreen" style="display: none;"></div>
                <div id="dataScreen" style="display: none;"></div>
            </td>
        </tr>
    </table>
    <!-- Toast Container -->
    <div id="toastContainer"></div>
</div>