#accountScreen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#accountScreen h2 {
    text-align: center; /* Center the header */
    margin-bottom: 8px; /* Adjust space below the header if needed */
}

#achvDate {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    width: 95px;
    height: 34px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(224, 104, 26, 0.8);
    color: black;
    padding-left: 4px;
    padding-right: 2px;
}

.input-table {
    border-collapse: collapse;
    border-spacing: 0 4px; /* Add 4px spacing between rows */
}

.input-row {
    display: table-row;
    height: 40px; /* Adjust height to ensure proper vertical alignment */
}

.label-cell,
.input-cell {
    padding: 4px;
    border: none;
    vertical-align: middle !important; /* Vertically center the content */
}

.label-cell {
    text-align: left; /* Align the text label to the left */
    width: 1%; /* Shrink to fit content */
    white-space: nowrap; /* Prevent line break */
}

.input-cell {
    display: flex;
    align-items: center;
    gap: 4px; /* Space between inputs and buttons */
    vertical-align: middle; /* Vertically center the input cell */
}

.label {
    color: white;
    text-align: left; /* Align text labels to the left */
    display: flex;
    margin-right: 8px; /* Space between checkboxes and inputs */
}

.number-input,
.dropdown,
.unlock-button {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #e0681a;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 36px; /* Set consistent height for inputs and buttons */
    box-sizing: border-box; /* Ensure padding and border are included in height */
    font-size: 14px !important;
}

.unlock-button {
    color: #e0681a;
    font-weight: bold;
}
/*
 button {
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e0681a;
    color: black;
    cursor: pointer;
    height: 36px;
    box-sizing: border-box;
} 
*/
/* Ensure item tier select option is visible */
.dropdown {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e0681a;
    color: white;
    border-radius: 4px;
    padding: 8px;
    min-width: 100px;
    box-sizing: border-box;
}
