/* actions.css */
.action-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    height: 48px; /* Same height as logo */
    color: #e0681a;
    padding: 4px;
}

.feature-buttons {
    display: none;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start; /* Align buttons to the left */
}

.feature-buttons-cell {
    text-align: left !important;
    vertical-align: middle !important;
}

.feature-buttons.active {
    display: flex;
}

.icon-button,
.social-button {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e0681a;
    backdrop-filter: blur(3px);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.icon-button .material-icons-outlined,
.social-button .material-icons-outlined {
    color: #e0681a;
}

.icon-button .tooltip,
.social-button .tooltip {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e0681a;
    backdrop-filter: blur(3px);
    color: #e0681a;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-button .tooltip::after,
.social-button .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.icon-button:hover .tooltip,
.social-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.icon-button.selected {
    background-color: rgba(224, 104, 26, 0.8);
}

.icon-button.selected .material-icons-outlined {
    color: #000;
}
