/* base-layout.css */
.container {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e0681a;
    border-radius: 12px;
    padding: 8px;
    backdrop-filter: blur(3px);
}

h2 {
    color: #e0681a;
    margin: 8px 0px;
}

.label {
    color: white;
}

.input-row,
.button-row {
    margin-bottom: 15px;
}

.number-input,
.dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid #e0681a;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e0681a;
    color: black;
    cursor: pointer;
}

/* Ensure toast container is fixed at the bottom */
#toast-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    width: auto;
    max-width: 100%;
    pointer-events: none; /* Prevent interaction with the toast container */
}
