/* base-layout.css */
.container {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #e0681a;
    border-radius: 12px;
    padding: 8px;
    backdrop-filter: blur(3px);
    font-size: 14px !important;
    margin: 0 !important;
    width: auto !important;
}

.input-row,
.button-row {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e0681a;
    color: black;
    cursor: pointer;
}

