body {
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.popup-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    background: #1e1e1e;
    border: 1px solid #e0681a;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header img {
    width: 40px;
    margin-right: 20px;
}

.header h2 {
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #e0681a;
    border-radius: 4px;
}

.icon-button .material-icons-outlined {
    color: #e0681a;
}

.icon-button .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-button .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.icon-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.select-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.select-container a {
    color: #e0681a;
    text-decoration: none;
    border: 1px solid #e0681a;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.select-container a:hover {
    background-color: #ff7f2a;
}
