/* Import Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Apply Roboto font to the whole overlay and toasts */
.popup-container,
.toast {
    font-family: "Roboto", sans-serif;
}

/* popup-container styles */
.popup-container {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 60px; /* Ensure minimum width matches logo */
}

.popup-table {
    border-collapse: collapse;
    width: auto;
}

.popup-table td {
    padding: 0;
    border: none;
    vertical-align: top; /* Align cells to the top */
    text-align: center;
}

.logo-cell {
    width: 66px;
    height: 62px;
    vertical-align: middle; /* Align the logo cell vertically */
}

.action-toggle-cell {
    width: auto;
    vertical-align: middle; /* Align the action toggle cell vertically */
}

.feature-buttons-cell {
    text-align: left; /* Align the feature buttons cell to the left */
    vertical-align: middle; /* Vertically center the feature buttons cell */
}

.social-cell {
    width: 66px;
    vertical-align: top; /* Align the social cell to the top */
}

.settings-cell {
    width: auto;
    text-align: left; /* Align the settings cell to the left */
    vertical-align: top; /* Align the settings cell to the top */
    display: none; /* Hide settings cell by default */
}

/* Logo styles */
.logo {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #e0681a;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: grab;
    user-select: none;
}

.logo img {
    width: 40px;
    pointer-events: none;
}

/* Prevent elements from being highlighted */
* {
    -webkit-tap-highlight-color: transparent;
}
